<a href="https://colab.research.google.com/github/kisomose/pythonBootCamp/blob/main/pythonBasicAndFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("enter the value of a:  "))
b =  int(input("enter the value of b:  "))
add =a+b
sub=a-b
mult = a*b
div= a/b
mod = a%b
print("Sum: {0}, diff: {1},Mult: {2}, Div: {3}, Mod: {4}".format(add,sub,mult,div,mod)) #printing using the formate

enter the value of a:  34
enter the value of b:  6
Sum: 40, diff: 28,Mult: 204, Div: 5.666666666666667, Mod: 4

a=3
b=5
power = a**b
print("power: ",power)

In [ ]:
a="i love you "
print(a[::-1])
print(a.upper())
print (a.split())
print(a.lower())

 uoy evol i
I LOVE YOU
['i', 'love', 'you']
i love you

LIST

In [ ]:
p = [1,2,3,4,5,6]
t =["love",18,23]
print(p,t)
print(p+t)
print(p[::-1])

[1, 2, 3, 4, 5, 6] ['love', 18, 23]
[1, 2, 3, 4, 5, 6, 'love', 18, 23]
[6, 5, 4, 3, 2, 1]

In [ ]:
p.append("forever")
print(p)

[1, 2, 3, 4, 5, 6, 'forever']

In [ ]:
k = [1,2,3,4,5,6,7,8]
p,k,t
from random import shuffle
shuffle(k)
k

[3, 2, 8, 1, 6, 7, 4, 5]

set

In [ ]:
a= set()
a.add(2)
a
#set(p)

{2}

In [ ]:
z=len(p)
g = len(t)

print (z>=g)
z>g

True

True

In [ ]:
a=[12,3,4,5,6,7,8,9,9,0]
for i in a:
  if i%2==0:
    print("Is an even number")
  else:
    print("a is odd number")

Is an even number
a is odd number
Is an even number
a is odd number
Is an even number
a is odd number
Is an even number
a is odd number
a is odd number
Is an even number

function

In [ ]:
def welcome(a):
  print("hello {0}, bazaale Welcome to our home".format(a))

In [ ]:
welcome("patie")

hello patie, bazaale Welcome to our home

In [ ]:
def add(a,b):
  add = a+b
  return add

lambda - to make functions without using def

In [ ]:
def squ(num2):
  return num2*2

squ(3)

6

In [ ]:
squ2 = lambda num3:num3*2
squ2(4)

8

In [ ]:
def check(a):
    b = len(a)
    c=0
    for i in range (0, b):
        if a[i] > 1:
            c=0
            for j in range (2, int(a[i]/2)+2):
                if (a[i] % j) == 0:
                    c=1
                    break
            if (c == 0) or (a[i]==2):
                print(a[i], "is a prime")
            else:
                print(a[i], "not a prime")
        else:
            print(a[i], "is less than 2")

In [ ]:
add(85,23)

108

In [ ]:
def check(numbers):
  primeNumer = []
  for number in numbers:
  if number>1:
    for i in range(2, int(number/2)+1):
      if(number %1)==0:
        print(number, "is a prime number")
        break
      else:
        print (number, "is a prime munber")
        primeNumber.append(number)
    else:
      pass
  return primeNumber

In [ ]:
def add(a,s,d):
  R=a+s+d
  return R
  add(1,3,4)

In [ ]:
def cube(num):
  return num**3
  cube(6)

*args and **kwages

In [ ]:
def cubefn(*argg):
  return sum(argg)

  r= cubefn(12,43,5)

  print(r)

In [ ]:
def func(**kwargs):
  if 'name' in kwargs:
    print("mu names is {0}".format(kwargs['name']))
  if 'age' in kwargs:
    print("My age is updating to {0}".format(kwargs['age']))
  else:
    print("no key Found")

func(name='Patience', age = 19)

mu names is Patience
My age is updating to 19